body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

input[type="text"] {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

#app {
  position: relative;
}


.logotype {
  font-size: 15px; 
  position: relative; 
  top: 1px; 
  margin-right: 2px;
}

.voice-cmd-button {
  right: 0;
  background-color: #31af23;
  border: 1px #229a15 solid;
  border-radius: 1px;
  border-width: 0px 1px 1px 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  pointer-events: auto;
}

.voice-cmd-button.is-listening {
  background-color: red;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.todo-header .add-todo-button {
  float: right;
}


.completed {
  opacity: 0.5;
  pointer-events: none;
}

header {
  background-color: #555;
  padding: 10px;
  padding-left: 20px;
}

.logotype { 
    color: #fff;
    font-weight: 200;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.transparent-button {
  font-size: 13px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #4b4bec;
}

.content-wrapper {
  margin: 20px;
  position: relative;
  pointer-events: none;
}

.transparent-button:hover {
  opacity: 0.8;
}

button:focus { 
  outline: none;
}

.projects-list ul li {
  list-style-type: none;
}

.selected-project { 
  font-size: 30px;
  font-weight: 300;
  color: #555;
  padding-left: 0;
}

.selected-project {
  border: 0;
  background: transparent;
}

.projects-selector {
  display: inline-block;
  pointer-events: auto;
}

.project-selector-menu {
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0;
  z-index: 1;
}

.project-selector-menu li {
  padding: 7px;
  width: 180px;
  border-bottom: 1px #eee solid;
  cursor: pointer;
  list-style-type: none;
}

.project-selector-menu li:hover {
  background-color: #fffff2;
}

.todos-table {
  border: 1px red solid;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.todos-table td, .todos-table th  {
  text-align: left;
  border: 1px #ddd solid;
  padding: 6px 10px;
  color: #444;
  vertical-align: top;
}

.todos-table th {
  background-color: #eee;
  border-color: #ddd;
  font-weight: normal;
  border-bottom-width: 2px;
}

.todos-table td {
  padding: 10px 10px;
}

.new-todo-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-todo-wrapper input[type="text"] {
  width: 100%;
  font-size: 30px;
  font-weight: 200;
  padding: 5px;
  box-sizing: border-box;
}

.new-todo-wrapper input[type="text"]:focus {
  outline: 0;
}

tr.no-todo-items td {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: top;
}

input[type="text"]:focus {
  outline: 0;
}

.todos-table td.col-completed {
  text-align: center;
}

input, .col-actions {
  pointer-events: auto;
}

tr.editing td.col-task {
  padding: 0;
}

tr.editing td.col-task input[type="text"] {
  font-size: 13px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  border: 0;
}
